html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.jewmap__wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.jewmap__map {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#jewmap {
    flex-grow: 1;
}

/* menu */
.jewmap__menu-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ffffff;
    width: 128px;
    height: 100vh;
    box-shadow: 6px 0 60px 0 rgba(0, 0, 0, 0.5);
}

.jewmap__menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 100vh;
    height: 128px;
    margin: 0;
    padding: 0;
    list-style: none;
    transform: rotate(-90deg) translateY(-100vh);
    transform-origin: right top;
}

.jewmap__menu-item {
    height: inherit;
}

.jewmap__menu-link {
    position: relative;
    display: inline-block;
    height: inherit;
    padding: 0 20px;
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    line-height: 128px;
    text-transform: uppercase;
    vertical-align: middle;
    color: #000000;
    /* display: inline-block;
    white-space: nowrap; */
    /* -webkit-transform: translate(1.1em,0) rotate(90deg);
       -moz-transform: translate(1.1em,0) rotate(90deg);
         -o-transform: translate(1.1em,0) rotate(90deg);
            transform: translate(1.1em,0) rotate(90deg);
    -webkit-transform-origin: 0 0;
       -moz-transform-origin: 0 0;
         -o-transform-origin: 0 0;
            transform-origin: 0 0; */
    white-space: nowrap;
    transition: color 0.5s;
}

.jewmap__menu-link:hover {
    cursor: pointer;
}

.jewmap__menu-link:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 8px;
    background-color: #147eb3;
    transition: width 0.5s, left 0.5s
}

.jewmap__menu-link:hover:before {
    left: 20%;
    width: 60%;
}

.jewmap__menu-link:after {
    content: '';
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    margin: 0;
    background: #147eb3;
}

.jewmap__menu-link.active {
    color: #ffffff;
    transition: color 0.5s 0.5s;
}

.jewmap__menu-link.active:after {
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    -o-animation: fill 1s forwards;
}
.jewmap__menu-link:after {
    animation: fillback 1s forwards;
    -webkit-animation: fillback 1s forwards;
    -moz-animation: fillback 1s forwards;
    -o-animation: fillback 1s forwards
}

@keyframes fill {
    0% {
        left: 20%;
        width: 60%;
        height: 8px;
    }
    50% {
        left: 0;
        width: 100%;
        height: 8px;
        
    }
    100% {
        width: 100%;
        height: 100%;
    }
}

@keyframes fillback {
    0% {
        width: 100%;
        height: 100%;
    }
    50% {
        left: 0;
        width: 100%;
        height: 8px;
    }
    100% {
        left: 50%;
        width: 0;
        height: 8px;
    }
}
  
    
