.overlay
    z-index: 100
    position: fixed
    display: none
    top: 50%
    left: 50%
    width: 400px
    height: auto
    transform: translate(-50%, -50%)

.overlay__text
    margin-top: 0
    font-family: inherit
    font-size: 16px
    font-weight: 400
    line-height: normal
    text-shadow: 0 0 3rem #fff
    color: #000000

.overlay__close
    display: block
    padding: 0
    font-family: inherit
    font-size: 16px
    font-weight: 700
    line-height: 1
    text-shadow: 0 0 3rem #fff
    color: #000000
    background-color: transparent
    border: none
    border-bottom: 4px solid #000
    &:hover
        cursor: pointer

@media(max-width: 600px)
    .overlay
        top: 52%
        width: 290px