.popup
    z-index: 49
    position: fixed
    top: 0
    right: 6.667vw
    // width: 600px
    width: 31.250vw
    height: 100vh
    opacity: 0
    transform: translateX(31.250vw)
    transition: transform 0.4s, opacity 0s 0.4s

.popup.open
    z-index: 50
    opacity: 1
    transform: translateX(0)
    transition: transform 0.5s

.popup__content
    display: flex
    flex-direction: column
    width: inherit
    height: inherit
    // padding-top: 76px
    // padding-left: 55px
    // padding-right: 60px
    // padding-bottom: 76px
    padding-top: 3.958vw
    padding-left: 2.865vw
    padding-right: 3.125vw
    padding-bottom: 3.958vw
    background-color: $color-main

.popup__header
    display: flex
    flex-wrap: nowrap
    align-items: flex-start
    justify-content: space-between
    // height: 35px
    // margin-bottom: 46px
    // height: 1.823vw
    margin-bottom: 2.396vw

.popup__title
    margin: 0
    font-family: inherit
    // font-size: 32px
    font-size: 1.667vw
    font-weight: 700
    line-height: 1
    color: #ffffff

.popup__close
    position: relative
    // width: 35px
    // height: 35px
    width: 1.823vw
    height: 1.823vw
    padding: 0
    background-color: transparent
    opacity: 1
    border: none
    transition: opacity 0.3s
    &::before,
    &::after
        content: ''
        position: absolute
        top: 50%
        left: 0
        // width: 50px
        height: 2px
        // margin-left: -9px
        width: 2.604vw
        margin-left: -0.469vw
        background-color: #ffffff
    &::before
        transform: rotate(45deg)
    &::after
        transform: rotate(-45deg)
    &:hover
        opacity: 0.5
        cursor: pointer

.popup__main
    flex-grow: 1
    // padding-right: 20px
    padding-right: 1.042vw
    .sb-scrollbar-container,
    .sb-scrollbar
        background: transparent

@media(max-width: 991px)
    .popup
        right: calc(6.667vw * 1.5)
        width: calc(31.250vw * 1.5)
        transform: translateX(calc(31.250vw * 1.5))

    .popup__content
        padding-top: calc(3.958vw * 1.5)
        padding-left: calc(2.865vw * 1.5)
        padding-right: calc(3.125vw * 1.5)
        padding-bottom: calc(3.958vw * 1.5)

    .popup__header
        // height: calc(1.823vw * 1.5)
        margin-bottom: calc(2.396vw * 1.5)

    .popup__title
        font-size: calc(1.667vw * 1.5)

    .popup__close
        width: calc(1.823vw * 1.5)
        height: calc(1.823vw * 1.5)
        &::before,
        &::after
            width: calc(2.604vw * 1.5)
            margin-left: calc(-0.469vw * 1.5)

@media(max-width: 600px)
    .popup
        top: 50px
        right: 0
        width: 100vw
        height: calc(100vh - 50px)
        transform: translateX(-100vw)

    .popup__content
        padding: 15px

    .popup__header
        // height: auto
        margin-bottom: 15px

    .popup__close
        width: 24px
        height: 24px
        &::before,
        &::after
            width: 29px
            height: 2px
            margin-top: -2px
            margin-left: -1px

    .popup__title
        font-size: 24px

    .popup__main
        padding-right: 20px
